traefik:
  ingressRoute:
    dashboard:
      enabled: false
  persistence:
    enabled: true
    path: /certs
    size: 128Mi
    name: data
    accessMode: ReadWriteOnce
  volumes:
  - name: data
    mountPath: "/certs"
  additionalArguments:
    - --api-insecure
    - --accesslog
    - --entrypoints.web.Address=:80
    - --entrypoints.websecure.Address=:443
    - --providers.kubernetescrd
    - --certificatesresolvers.myresolver.acme.tlschallenge
    - --certificatesresolvers.myresolver.acme.httpchallenge
    - --certificatesresolvers.myresolver.acme.email=info@raulfernandez.dev
    - --certificatesresolvers.myresolver.acme.storage=acme.json
    - --certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web
    # Please note that this is the staging Let's Encrypt server.
    # Once you get things working, you should remove that whole line altogether.
    - --certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
