grafana:
  persistence:
    enabled: true
  admin:
    existingSecret: "grafana-user-pass"
    userKey: username
    passwordKey: password
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server.prometheus.svc.cluster.local
      access: proxy
      isDefault: true
